<h1>Student List</h1>
<h6>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>

<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.course.name %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy',student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<h3><%= link_to 'Enroll New Student', new_student_path %></h3>
<h3><%= link_to 'Course List', courses_path %></h3>


<%= form_tag(search_path, :method => "get") do %>
  <%= text_field_tag :name, params[:name], :placeholder => "Search Full Name" %>
  <%= submit_tag "Search" %> 
<% end %>

</table>
</h6>