<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>duration:</b>
  <%= @course.duration %>
</p>


<%= link_to 'Edit', edit_course_path %> |
<td><%= link_to 'Add New Student', new_student_path %></td>
<td><%= link_to 'Back', root_path %></td>



